<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ana Sayfa</title>
</head>
<body>
    <h1>Hoş Geldiniz</h1>
    <p>Kütüphane otomasyon sistemine hoş geldiniz!</p>
    <p>Devam etmek için:</p>
    <ul>
        <li><a href="{% url 'login_user' %}">Kullanıcı Girişi</a></li>
        <li><a href="{% url 'login_library_admin' %}">Yönetici Girişi</a></li>
        <li><a href="{% url 'register_user' %}">Kayıt Ol</a></li>
    </ul>
</body>
</html>
